<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>App2</servlet-name>
		<servlet-class>com.app2.App2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>App2</servlet-name>
		<url-pattern>/app2</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sign</servlet-name>
		<servlet-class>com.app2.SignGuestbookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sign</servlet-name>
		<url-pattern>/sign</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>New_mem_invite</servlet-name>
		<servlet-class>com.app2.New_mem_invite</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>New_mem_invite</servlet-name>
		<url-pattern>/New_mem_invite</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>new_pro_submit</servlet-name>
		<servlet-class>com.app2.New_pro_submission</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>new_pro_submit</servlet-name>
		<url-pattern>/new_pro_submit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Confirm_member</servlet-name>
		<servlet-class>com.app2.Confirm_member</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Confirm_member</servlet-name>
		<url-pattern>/Confirm_member</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>New_task_submission</servlet-name>
		<servlet-class>com.app2.New_task_submission</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>New_task_submission</servlet-name>
		<url-pattern>/New_task_submission</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Confirm_task_user</servlet-name>
		<servlet-class>com.app2.Confirm_task_user</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Confirm_task_user</servlet-name>
		<url-pattern>/Confirm_task_user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Confirm_task_admin</servlet-name>
		<servlet-class>com.app2.Confirm_task_admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Confirm_task_admin</servlet-name>
		<url-pattern>/Confirm_task_admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Post_submission</servlet-name>
		<servlet-class>com.app2.Post_submission</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Post_submission</servlet-name>
		<url-pattern>/Post_submission</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Comment_submission</servlet-name>
		<servlet-class>com.app2.Comment_submission</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comment_submission</servlet-name>
		<url-pattern>/Comment_submission</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
